.site-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    z-index: 1000;
    background-color: var(--bg-color);
    transition: all 0.3s ease;
}

body.always-light .site-nav {
    border-bottom: 1px solid var(--border-color);
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 !important;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: var(--text-main);
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: -1px;
}

.logo-img { height: 45px; width: auto; }

header {
    text-align: center;
    margin-bottom: 60px;
}

.profile-img {
    width: 100px;
    height: 100px;
    background: var(--primary-color);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    margin: 0 auto 20px;
}

h1 {
        font-size: 2.0rem;
        margin-bottom: 10px;
        letter-spacing: -1px;
    }

.about-text {
    max-width: 650px;
    margin: 0 auto;
    color: var(--text-muted);
    font-size: 1.1rem;
}